# Ignore F90 compiled objects, modules and libraries

*.o
*.mod
*.a
*~
work/
src/r
src/idl/perso
Makefile
Makefile_tmp
src/idl/.*
out/
lib/
include/
bin/
build/
oldversion/
res/horizon*
res/2mrs*
test/2mrs*
TODO

# As well as usual OSX files
.DS_Store
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
